@page
@model BookApp.Pages.IndexModel
@{
    ViewData["Title"] = "Book Store";
}
<head>
    <style>
        div{
            text-align:center;
        }
    </style>
</head>
<header>
</header>
<body>
    <div class = "container-fluid bg-light" style="border:2px solid">
        <br />
        <h1>Welcome to the Books R Us Book Store</h1>
        <br /><br />

        <div >
            <img src="./images/lasse-jensen-84mFDd6bZG4-unsplash.jpg" width="800" height="500">
        </div>

        <br /><br />

        <div>
            <a href="./Books" class="btn btn-info" role="button">Click to see our stock of Books</a>
            <br /><br /><br />
       </div>

   </div>

</body>